[[redirects]]
  from = "/scripts/*"
  to = "/.netlify/functions/proxy"
  status = 200
  force = true
  
[build]
  command = "echo 'Building...'"
  functions = "netlify/functions"
  publish = "public"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
